body{
    margin: 0 auto;
    background: hsl(0, 0%, 10%);    
    height: auto; 
}

.conteiner{
    display: grid;
    row-gap: 2%;
    grid-template-columns: auto;
    grid-template-rows: 140px 120px auto 100px;
    grid-template-areas: 
    "cabecalho"
    "contagem"
    "corpo"
    "rodape";
}
.contagem{
    grid-area: contagem;
    background-color: hsl(0, 0%, 5%);
    width: auto;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contagem h1{
    font-size: 30px;
    color: white;
    margin-left: 30px;
}
.casaBrasao{
    height: 100px;
    margin-top: 5px;
    margin-bottom: 5px;    
}
.copaContagem{
    color: hsl(0, 0%,30%);
    margin-right: 120px;
}
.copaContagem:hover{
    color: white;
    
}
.conteudo{
    grid-area: corpo;
    display: grid;
    margin: 0px 80px 0px 80px;
    column-gap: 5%;
    row-gap: 3%;
    grid-template-columns: 640px auto;
    grid-template-rows: 430px auto;
    grid-template-areas: 
    "image copaMundial"
    "quadribol quadribol";    
}
img{
    grid-area: image;
    border-radius: 15px;
}
.copaMundial{
    grid-area: copaMundial;
    background-color: hsl(0, 0%, 5%);
    color: white;
    border-radius: 15px;
}
.copaMundial h1{
    margin: 25px;    
    font-size: 30px;
}
.copaMundial p{
    margin: 25px;    
    font-size: 13px;
    text-indent: 50px;
}
.quadribol{
    grid-area: quadribol;
    background-color: hsl(0, 0%, 5%);
    color: white;
    border-radius: 15px;
    height: 95%;
}
.quadribol h1{
    font-size: 30px;
    margin: 25px;
}
.quadribol p{
    font-size: 19px;
    text-indent: 50px;
    margin: 25px;
}

@media only screen and (min-width: 0px) and (max-width: 767px){
    .conteiner > * {
        display: block;
    }
    .contagem{
        max-width: 320px;
        min-height: 200px;
        border-radius: 15px;
        padding: 5px;
        text-align: center;
        margin-left: 50px;
    }
    .contagem img{
        max-width: 75px;
        max-height: 40px;
        margin-bottom: -10px;
    }
    .contagem h1{
        font-size: 15px;
        margin-bottom: -10px;
    }
    .contagem h2{
        font-size: 15px;
        margin-bottom: -10px;
    }
    .conteudo{
        position: relative; /* Define o posicionamento relativo */
    top: 50px; /* Move a imagem 20 pixels para baixo (ajuste conforme necessário) */
    display: block; /* Garante que a imagem seja exibida como um bloco */
    margin-top: 20px; /* Adiciona margem superior para separar a imagem da seção (ajuste conforme necessário) */
        margin-left: 0;
    }
    .conteudo img{
        margin-left: 30px;
        max-width: 350px;
        height: 300px;
    }
    .copaMundial{
        max-width: 400px;
        max-height: 450px;
        margin-left: 50px;
        padding: 0;
    }
    .copaMundial p{
        font-size: 10px;
    }
    .quadribol{
        max-width: 400px;
        max-height: 350px;
        margin-left: 50px;
        padding: o;
    }
    .quadribol p{
        font-size: 8px;
    }
    .conteudoFigura1{
        display: flex;
        max-width: 400px;
    }
}